/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */


/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
}

hgroup {
	width:100%;
}
.site-contacts {
	float: right;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #424043;
	text-align: right;
}

.site-footer {
	float: right;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #424043;
	text-align: right;
}

.site-footer_contacts {
	float: right;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #424043;
	text-align: left;
}


#main-nav {
	text-align: center;
}

#main-nav .sub-menu li {
	text-align: left;
}
#main { width: auto; }

.single-product .images { width: 30%; }

.overridewidth .col-left { float: none}

@media only screen and (max-width:768px) {
    .single-product .images { width: 100%; }    
}

/* == 19.03.2021 == */

/* price */
.woocommerce-Price-amount{
	color: #d60000;
	font-size: 17px;
}
.price ins .amount{
	color: #ff4800;
}

/* contact form */

@media (max-width: 400px) {
	#contact_form_pop{
		padding: 9%;
	}

	#contact_form_pop .wpcf7-form-control{
		max-width: 100%;
		margin: 0;
	}
}

/* footer menu */

#menu-futer-menyu{
	display: none;
}
@media (min-width: 992px){
	#footer-widgets{
		padding: 20px 0;

	}
	#footer-widgets .widget_nav_menu{
		margin: 0;
	}
	#menu-futer-menyu{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -14px;
	}
	#menu-futer-menyu ul{
		margin: 0;
		padding: 0;
	}
	#menu-futer-menyu .menu-item:before{
		display: none;
	}

	#menu-futer-menyu .menu-item > a{
		display: block;
		padding: .5em 1em;
		font-size: 14px;
		font-weight: 600;
	}
	#menu-futer-menyu .menu-item-has-children{
		display: flex;
	}
}

/* search */

#top #searchform {
	display: flex;
}
#top #searchform .input-text{
	padding: .236em .7em;
}
#top #searchform .button{
	display: block;
	position: static;
	padding: .236em .5em;
	width: auto;
}

/* callback btn */

.button.callback-btn {
	margin-top: 10px;
	border: none;
	box-shadow: none;
}

/* header top menu */

#top-nav .menu-item a {
	font-size: 1.15em;
}

/* header category menu */

#header #navigation.header__categories-wrapper {
	/*display: flex !important; */ /* <= this style breaks the mobile menu*/
	display: flex;
	float: unset !important;
	clear: both !important;
}

#header #navigation.header__categories-wrapper ul {
	margin: 0 auto;
	float: unset;
}

/* callback-form popup */

br + input[type="submit"].wpcf7-form-control.wpcf7-submit {
	margin-top: 20px;
}

/* logo */

#logo.logo {
	display: grid;
	font-family: "Open Sans", sans-serif;
}

#logo .logo__title {
	font-size: 80px;
	line-height: 1;
	text-transform: uppercase;
}

#logo .logo__description {
	padding-left: 5px;
	font-size: 20px;
	line-height: 1;
	text-transform: uppercase;
}
.site-footer__logo {
	margin-bottom: 1rem;
}
.site-footer__logo #logo .logo__title{
	font-size: 65px;
}
.site-footer__logo #logo .logo__description{
	font-size: 16px;
}
/* social links block*/
.social{
	display: flex;
	justify-content: flex-end;
}
.social__link{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	width: 32px;
	margin: 3px;
	padding: 3px;
	border-radius: 4px;
	box-shadow: inset 0 0 0 8px #000;
}

/* custom styles for mobile menu */
#header .search-toggle{
	display: none;
}

@media (max-width: 768px) {
	.social__link{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 42px;
		width: 42px;
		margin: 3px;
		padding: 3px;
		border-radius: 4px;
		box-shadow: inset 0 0 0 8px #000;
	}

	#header #navigation.header__categories-wrapper {
		flex-direction: column;
	}

	#header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		height: 46px;
		z-index: 900;
		background-color: #ffffff;
		box-shadow: 0 1px 6px 0 rgba(103, 99, 99, .2);
		border: none;
	}
	/*if admin:*/
	/*.logged-in.admin-bar #header{*/
	/*	top: 46px;*/
	/*}*/
	#header hgroup{
		margin: 0;
		display: flex;
		height: 100%;
		padding-right: 56px;
	}
	#header #logo{
		margin: 0;
		font-size: 32px;
	}

	#logo .logo__title{
		padding-left: 3px;
		font-size: 1em;
		line-height: 1;
	}
	#logo .logo__description {
		padding-left: 6px;
		font-size: .35em;
		line-height: 1px;
	}
	#header .nav-toggle{
		top: 1px;
		right: 3px;
		display: block;
		margin: 1px;
		width: 40px;
		height: 34px;
		z-index: 1100;
	}
	/* menu window */
	#header #navigation {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		overflow-y: auto;
		padding: 2em;
		z-index: 1000;
	}

	/* mobile menu */
	#header #navigation ul.nav{
		margin: 0;
	}
	#navigation .nav a {
		font-size: 16px;
		text-align: left;
	}
	#navigation .nav .sub-menu{
		padding-left: 20px;
	}
	#navigation #main-nav::before{
		content: 'Каталог:';
		font-size: 16px;
		text-align: left;
		padding: 0.3em 1em;
		display: block;

	}
	#navigation #top-nav{
		margin-top: 1rem !important;
		padding-top: 1rem;
		border-top: 1px solid #767676;
	}
	#navigation .site-footer__social-links{
		margin: 0 auto;
	}

	/* search button and search bar */
	#header .search-toggle{
		display: block;
		margin: 2px 0 2px auto;
		width: 46px;
		height: 42px;
		border: none;
		background-color: #ffffff;
		background-image: url("images/icons/search.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 85%;

	}

	#top .wc-nav li.search{
		position: fixed;
		top: 0px;
		left: 0;
		right: 0;
		width: 100%;
		height: 46px;
		border-bottom: 1px solid #ffffff;
		float: none;
		display: flex;
		background-color: #ffffff;
		opacity: 0;
		transition: all .3s ease-in-out;
		z-index: 890;
	}
	#top .search #searchform{
		width: 100%;
		display: flex;
	}
	#top .search #searchform .input-text {
		flex-grow: 1;
	}
	#top .wc-nav li.search.--shown{
		transform: translateY(54px);
		opacity: 1;
		box-shadow: 0px -8px 0 #ffffff, 0px 1px 12px 3px #676363;
	}




	/* fixed footer */
	.site-contacts{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		margin: 0;
		padding: 0;
		height: 55px;
		z-index: 900;
		background-color: #5bd084;
	}
	.site-contacts .mobile-hide{
		display: none;
	}
	.site-contacts>a,
	.site-contacts>div{
		flex: 1 1 30%;
	}
	.site-contacts>div{
		border-right: 1px solid #ffffff;
	}
	.site-contacts__link.--call-back,
	.site-contacts__link{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		margin: 0;
		padding: 6px;
		text-shadow: none;
		font-size: 0;
		color: #ffffff;
		background: none !important;
	}
	.site-contacts__link::before{
		content: '';
		display: block;
		width: 25px;
		height: 25px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		background-color: transparent;

	}
	.site-contacts__link.--email::before{
		display: none;
	}
	.site-contacts__link.--tel::before{
		background-image: url("images/icons/icon-call.svg");
		/*background-size: auto 80%;*/
	}
	.site-contacts__link.--whatsapp::before{
		background-image: url("images/icons/icon-wa.svg");
		/*background-size: auto 115%;*/
	}
	.site-contacts__link.--call-back::before{
		background-image: url("images/icons/icon-chat.svg");
	}
	.site-contacts__link::after{
		font-size: 12px;
		line-height: 1.5;
		color: #ffffff;
		text-align: center;
	}
	.site-contacts__link.--tel::after{
		content: 'Позвонить';
	}
	.site-contacts__link.--whatsapp::after{
		content: 'WhatsApp';
	}
	.site-contacts__link.--call-back::after{
		content: 'Обратный звонок';
		/*font-size: 12px;*/
	}

	.site-footer__logo,
	.site-footer__call{
		display: none;
	}
	/*#footer>p:first-of-type>img{*/
	/*	display: none;*/
	/*}*/
	#footer-widgets{
		padding: 0;
	}

	.woocommerce-ordering .orderby{
		max-width: 100%
	}

}

@media (max-width: 395px) {
	.site-contacts__link::after{
		font-size: 11px;
		line-height: 1;
	}
}
@media (max-width: 365px) {
	.site-contacts__link::after{
		font-size: 10px;
		line-height: 1;
	}
}


/* styles for page content */

/*.green {
	color:green;
}
.blue{
	color:blue;
}*/
.has-huge-font-size {
	font-size: 2.244em;
	line-height: 1.387em;
	font-family: "Bree Serif", sans-serif;
	font-weight: normal;
	color: #363230;
	margin: 0 0 .618em;
}
.has-large-font-size {
	font-size: 1.618em;
	line-height: 1.387em;
	font-family: "Bree Serif", sans-serif;
	font-weight: normal;
	color: #363230;
	margin: 0 0 .618em;
}
.features-block img {
	background: none;
	border: none;
}
.features-block p {
	text-align: justify;
}

.added_to_cart.wc-forward {
	display: block;
	margin-top: 1rem;
}

.bredcrumbs-container{
	display: none;
}
@media (min-width: 992px){
	.bredcrumbs-container{
		display: block;
	}
	.breadcrumb{
		list-style: none;
		margin-top: 1rem !important;
		display: flex !important;
	}
	.breadcrumb-item{
		margin-right: 1rem;
	}
	.breadcrumb-item:not(:last-child)::after{
		content: '\003E';
		margin-left: 1rem;
	}
}